body {
  background-color: rgb(235, 235, 235);
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  background-color:  rgb(211, 211, 211);
  width: 300px;
  border-radius: 5px;
  border: 2px solid white;
}

#detener {
  color: white;
  background-color: rgb(203, 121, 121);
  border-radius: 5px;
  border: 2px solid red;
}
button {
  margin: 5px;
  border-radius: 5px;
  border: 2px solid rgb(27, 128, 107);
  color: white;
  background-color: rgba(27, 128, 108, 0.545);
}
p{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.671);
  font-family:monospace;
  font-weight: 900;
  font-size:xx-large;
}